/* Définition des polices */

@font-face 
{
    font-family: 'Raleway' ;
    src: url('Font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}


/******************************** Elements principaux de la page ************/
body
{
    background-color: white;
    color: black;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

header, main
{
    margin: 20px 40px 20px 40px;
}
h1 ,  h2, h3
{
    font-family :  'Raleway' , Arial , Helvetica , sans-serif;
}

H1 
{
    font-size: 20px;
    font-weight: bolder;
}

h2
{
    font-size: 18px;
}
h3
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

p
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 14px;
}
/******************************** Header ***********************************/
/***************** base en-tête */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 50%;
}

/***************** navigation dans l'en-tête */
header nav ul
{
    list-style-type: none;
    display: flex;    
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

header nav li
{
    margin-right: 50px;
}

header nav a
{
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover
{
    color: #0065FC;
    border-bottom: none;
    border-top: 2px solid #0065FC;
    padding-top: 20px;
}
/********************** Section Recherche  */
#sectionrecherche
{   padding-bottom: 10px;}
.recherche
{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-top: 2%;
}


.fa-location-dot
 {
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    color: black;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 15px 0px 0px 15px;
  }

.flex-form 
{
    display: flex;
    z-index: auto;
    position: relative;
    max-width: 500px;
    border: 1px solid #F2F2F2;
    color: black;
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px;
  }

.flex-form input[type="submit"] /***Rechercher****/
{
    background: #0065FC;
    border: 1px solid #0065FC;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
  }

  .flex-form > * 
  {
    border: 0;
    background: #fff;
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
  }
  
  #RechercheVille
  {
    flex-basis: 450px;
    padding-left: 8px;
    color: black;
  }
  .search-button
  {
      display: none;
  }
 /************* Selection Filtres  ************/
 .filter {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin: 15px 0px; 
}

.filter h2 {
    font-weight: bold;
}

.filter ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 17px ;
}

.filter li {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    border-left: #DEEBFF;  
}

.filter a {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:#000000; 
    padding: 0px 12px; 
}

.filter li:hover {
    background-color: #DEEBFF;
}

.blue-icon {
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 3 !important;
}
/*nbre de logements */
#info_nombre
{
    display: flex;
    flex-direction: row;
    position: relative;
}

#info_nombre p
{
    display: flex; 
    align-items: center;
}

.fa-info
{
  background: white;
  border: 2px solid #F2F2F2;
  color: #0065FC;
  border-radius: 60px ;
  padding: 5px 10px 5px 10px;
}


 /*********************** section 1 ********************/

 #Section1
{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
/********************** general section1 ***/
article, aside
{
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
}

/********** article sectionHebergements **/
#sectionHebergements
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
}

    .carteslogements
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 20px;
    }

    
    .carteL
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        width: 30%;
    
    }
    .carteL a 
    {   width: 98%;
        height: 115px;}
    .carteL img
    {
        width: 98%;
        height: 115px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
        margin: 3px 3px 0px 3px;
    }

    .descriptionL
    {
    display: flex;
    flex-flow: column nowrap;
    height: 80px;
    margin-left: 10px;
    justify-content: space-between;
    }


.afficher
{
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}
/********** aside section1 */
aside 
{
    
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    min-width: 320px;
}

.entetepopulaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    width: inherit;
}

.cardpopulaire
{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 15px;

}
#Pluspopulaires
{
    display: flex;
    flex-direction: column;
}
.populaire 
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
    
}

.description
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 2%;
    text-align: start;
    height: 100%;
   
}

.etoile
{
    color: #0065FC;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 3px;

}

.textcartes
{
    display: flex;
    flex-flow: column nowrap;
}

.populaire img
    {
        width: 130px;
        height: 150px;
        max-height: 110%;
        object-fit: cover;
        margin: 3px 0px 3px 3px;
        border-radius: 10px 0px 0px 10px;
    }

/********************** SectionActivites *********************/
/*********************** general SectionActivites ****/

#SectionActivites
{
    display: flex;
    margin-top: 30px;
}
#Activites_Marseille
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    width: inherit;
}
#Activites_Marseille h2
{   margin: 25px 0px;
    width: inherit;}
#Activites_Marseille h3 
{
    margin-left: 2%;
}

.organisation
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bloc1, .bloc2
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    justify-content: space-between;
    width: inherit;
}
/**********Element activites********/
.element1, .element2
{
    background-color: white;
    border-radius: 10px;
    border-color: #F2F2F2;
    box-shadow: #F2F2F2 3px 3px 3px 3px;
    width: 100%;
}



.element1 img
{
    width: 278px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.element2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element2 img
{
    width: 278px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}   


/*********************************** Footer ****************************/

/******************** general footer *****/
footer
{
    display: flex;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 40px;
    border: #F2F2F2;
    background-color: #F2F2F2;
    width: auto;
    margin-bottom: 10px;
}

/***** elements footer *******/
footer nav 
{
    width: 25%;
    height: 99%;
}

footer nav ul
{   padding: 0%;
    line-height: 23px;}

footer nav li
{
    display: flex;
    list-style-type: none;
    
}
 footer nav h4
 {  width: 100%;}

footer nav a
{
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
}

/************ Responsive ***********/
@media screen and (min-width: 992px) /**** ecran ordi ****/
{ 
body
    {
        min-width: 992px;
        max-width: 1366px; 
    }
}

/**** Tablette ****/
@media all and  (min-width: 768px) and (max-width: 992px) 

{
body {
    max-width: 992px;
    min-width: 768px;
}
h1, h2, h3, p, .fa-solid, header, .afficher, .lignefilter p, .checboxfilter, .flex-form, footer nav
{
        font-size: 70%;
}
#section1
{
    height: auto;
}
.populaire img
{
    width: 105px;
    height: 120px;
    object-fit: cover;
    margin: 2%;
    }
}
/**** Portable ****/
@media screen and  (max-width: 768px) 
{
body 
{
    width: auto;
}
/****margin padding doc****/
header, main 
{   margin: 20px 0px 20px 0px;}
#sectionrecherche
{
    margin: 20px;
}

/****Header*****/
header
{   display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#logo
{  
     justify-content: center;
}
header nav
{
    display: flex;
    margin-top: 10px;
    text-align:center;
}
header nav ul 
{
    margin: 0%;
    margin-block: 0%;
    padding-inline-start:0%;
}

header nav li 
{
    margin: 0%;
}
header nav a
{
    padding: 10px 50px;
    border-bottom: 4px solid #F2F2F2;
    width: 50%;
}

header nav a:hover
{
    border-top: none;
    border-bottom: 4px solid #0065FC;
    padding : 10px 50px;
}

/****Section recherche*****/
.sectionrecherche
{  
    box-sizing: content-box;
    width: 100%;
    margin: 20px;}
H1
{   
    font-size: 100%;
    text-align:left;
    word-wrap: break-word;
    width: 95%;
    }

.recherche
{   
    max-width: 90%;
    display: flex;
    justify-content: center;
    
    }
.flex-form input[type="submit"] 
    {
        display: none;
    }

.search-button
    {
        display:block;
        border-radius: 13px 13px 13px 13px;
        background:#0065fc;
        color: #ffff;
        border-style: none;
        font-weight: bold;
        min-width: 50px;
        font-size: 18px;
        margin-left: -20px;
      }

.filter
{
    margin: 10px 0px;
    gap: 10px;
    
}
.filter h2
{
    margin-bottom: 0;
}
.filter ul 
{
    gap: 10px;
    justify-content: space-between;
    margin:0;
    padding: 0;
}
#info_nombre
{
    margin: 20px 0px;
}

/********Section 1*********/
#Section1
{   
    flex-direction: column;
    }
.carteL, .populaire
{   border-radius: 20px;
}
/***Aside****/
aside
{    order: -1;
    box-sizing: content-box;
    padding: 30px 15px;
    border-radius: 0%;
    width: auto;
    }
#Pluspopulaires
{   width: 98%;}
 
.cardpopulaire
    {
        gap: 10px;
        margin-top: 15px;
        width: auto;
    }
.description
{  
    width: 100%;
    height: 150px;}

/*****SectionHebergements******/
#sectionHebergements
    {  box-sizing: content-box;
        width: auto;
       background-color: #fff;
       margin: 0;
       padding: 30px 20px;
       gap: 30px;
        }  
.carteslogements
{   display: flex;
    flex-direction: column;
    width: auto;
    gap: 10px;
    margin-top: 20px;
}
.carteL
{   background-color: white;
    border-color: #F2F2F2;
    box-shadow: #f2f2f2 3px 3px 3px 3px;
    width: auto;
    }
.carteL a
{   width: auto;
    height: auto;}
.carteL img 
{
    width: 98%;
    border-radius: 20px 20px 0px 0px;
}
.descriptionL
{   height: auto;
    margin-left: 15px;}
.textcartes h3
{   margin-top:0%;
    margin-bottom: 5px;
}

/*****Section Actvites*****/
#Activites_Marseille
{  box-sizing: content-box;
    width: 100%;
   background-color: #fff;
   margin: 0;
   padding: 0px 20px;
   gap: 15px;}

.organisation
{
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 0%;    
}
.bloc1, .bloc2
{   width: 100%;}
.element1 img, .element2 img
{   width: 98%;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px;
}
.element1, .element2
{   width: 98%;
    margin-bottom: 15px;
    border-radius: 20px;}

.element1 h3, .element2 h3
{   margin-left: 5px;}
/********Footer*****/
footer
{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin-bottom: 20px;
}
footer nav 
{
    display: flex;   
    flex-direction: column;
    width: auto;
    padding: 0px 30px;
}
footer nav h4 
{   margin: 30px 0px 5px 0px;}

}