/* Définition des polices */
@font-face 
{
    font-family :  'Ralewaybold' ;
    src :  url('Font/Raleway/Raleway-Bold.ttf') format('truetype' );
        font-weight : normal;
        font-style : normal;
}
@font-face 
{
    font-family: 'Raleway' ;
    src: url('Font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

/******************************** Elements principaux de la page ************/
.blocpage
{
    background-color: white;
    color: black;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}