/* Définition des polices */
@font-face 
{
    font-family: 'RalewayLight';
    src: url(font/Relaway/Raleway-Light.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
}

/******************************** Elements principaux de la page ************/
body
{
    background-color: white;
    color: black;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: smaller;
}

/******************************** Header ***********************************/
/***************** base en-tête */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 50%;
    height: 50%;
}

/***************** navigation dans l'en-tête */
header nav ul
{
    list-style-type: none;
    display: flex;    
}

header nav li
{
    margin-right: 15px;
}

header nav a
{
    font-size: 15px;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover
{
    color: black;
    border-bottom: none;
}

/********************************** Corps *******************************/
h1, h2, h3, p
{
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
}

/********************** Section Recherche en cours */
#recherche
{
    display: flex;
    margin-bottom: 20px;
}
 /*** Filtres en cours ***/
 #Filtres
 {
 display: inline;
 margin-block: 30px;
 }

 /*********************** Section 1 ********************/

 #section1
{
    display: flex;
}
/********************** general section1 ***/
article, aside
{
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
}

/********** article section1 **/
article 
{
    background-color: #F2F2F2;
    margin-right: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    height: 600px;
    
}

    .carteslogements
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
        
    }

    
    .cartesL
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 330px;
        height: 200px;
        margin: 10px;
    }

    .carteL
    {
        background-color: white;
        border-radius: 5px;
    }
    .carteL img
    {
        width: 270px;
        height: 130px;
        object-fit: cover;
    }

    .descriptionL
    {
        height: 20px;
    }
/********** aside section1 */
    aside 
{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.populaire
{
    display: flex;
    flex-direction: row;
    
}

.description
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-left: 15px;
}

.populaire img
    {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

/********************** Section 2 *********************/
/*********************** general section2 ****/

.activites
{
    display: flex;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
}

/****** Cartes actvites ******/
#organisation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*********************************** Footer ****************************/

/******************** general footer *****/
footer
{
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

/***** elements footer *******/
footer nav ul
{
    list-style-type: none;
    display: flex;   
    flex-direction: column; 
    text-align: center;
}

footer nav li
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-right: 15px;
}


footer nav a
{
    font-size: 15px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
}

header nav a:hover
{
    border-bottom: none;
    color: #F2F2F2;

}

