/* Définition des polices */
@font-face 
{
    font-family: 'RalewayLight';
    src: url(font/Relaway/Raleway-Light.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
}

/******************************** Elements principaux de la page ************/
body
{
    background-color: white;
    color: black;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: normal;
}

/******************************** Header ***********************************/
/***************** base en-tête */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 50%;
    height: 50%;
}

/***************** navigation dans l'en-tête */
header nav ul
{
    list-style-type: none;
    display: flex;    
}

header nav li
{
    margin-right: 15px;
}

header nav a
{
    font-size: 20px;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover
{
    color: black;
    border-bottom: none;
}

/********************************** Corps *******************************/
h1, h2, h3
{
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    font-size: 100%;
}

/********************** Section Recherche en cours */
#recherche
{
    display: flex;
    margin-bottom: 20px;
}
 /*** Filtres en cours ***/
 #Filtres
 {
 display: inline;
 margin-block: 30px;
 }

 /*********************** Section 1 ********************/

 #section1
{
    display: flex;
    margin-bottom: 20px;
}
/********************** general section1 ***/
article, aside
{
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
}

/********** article section1 **/
article /* qui englobe la ligne 1 et 2 */
{
    background-color: #F2F2F2;
    margin-right: 20px;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
    .ligne 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    

/********** aside section1 */
    aside 
{
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

/********************** Section 2 *********************/
/*********************** general section2 ****/

.activites
{
    display: flex;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
}

/****** Cartes actvites ******/
#organisation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*********************************** Footer ****************************/

/******************** general section1 *****/
footer
{
    text-align: justify;
    font-family: 'RalewayLight', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

/***** elements footer *******/
footer nav ul
{
    list-style-type: none;
    display: flex;   
    flex-direction: column; 
    text-align: center;
}

footer nav li
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-right: 15px;
}


footer nav a
{
    font-size: 15px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
}

header nav a:hover
{
    border-bottom: none;
    color: #F2F2F2;

}

